.app__navbar-wrapper {
  background-color: #209536;
  color: #fff;
  list-style-type: none;
  min-height: 100vh; /* Ensure the navbar takes up the full height */
  padding: 1rem;
  position: fixed; /* Fix the navbar in place */
  top: 0;
  left: 0;
  width: 200px;
}

.app__navbar a:hover {
  background-color: #2f374f;
  border-radius: 10px;
  color: #27b027;
}

.app__navbar li {
  margin-bottom: 20px;
}
